.Historyflex {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.line {
  border-bottom: 1px solid gray;
}
.Karta {
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
  padding: 16px 20px;
}
.Zakasflex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.zakas1 h2 {
  display: flex;
  align-items: center;
}
.zakas1 h2 p {
  margin-right: 8px;
  font-size: 16px;
  line-height: 22px;
  color: #191919;
}
.zakas1 h2 h2 {
  font-family: "Int";
  font-size: 14px;
  line-height: 20px;
  color: #a5a5a5;
}
.Historyflex img {
  margin-right: 16px;
}
.zakas2 p {
  font-family: "Int";
  font-size: 14px;
  color: #a5a5a5;
}
.zakas3 p {
  font-family: "Int";
  font-size: 14px;
  color: #a5a5a5;
}
.zakas4 p {
  font-family: "Int";
  font-size: 14px;
  color: #a5a5a5;
}
.zakas2 h2 {
  font-size: 16px;
  line-height: 22px;
  color: #191919;
}
.zakas3 h2 {
  font-size: 16px;
  line-height: 22px;
  color: #191919;
}
.zakas4 h2 {
  font-size: 16px;
  line-height: 22px;
  color: #191919;
}
.Ofis {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.EditKarta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
}
.pizzae {
  display: flex;
  align-items: center;
}
.pizzae img {
  margin-right: 16px;
}
.pizzae p {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #191919;
}
.EditKarta span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ff7010;
}
.EditKarta h2 {
  width: 99px;
  height: 40px;
  background: #ffeee2;
  border-radius: 6px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ff7010;
}
.EditK h1 {
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
  color: #ff7010;
}
.button button {
  background-color: transparent;
  border: none;
}
.Line {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.Historyflex {
  border-left: 5px solid red;
  border-radius: 4px;
  padding-left: 10px;
}
.ad {
  display: none;
}
@media screen and (max-width: 600px) {
  .Zakasflex {
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(2, auto);
  }
  .Historyflex {
    display: flex;
    align-items: flex-start;
  }
  .Ofis {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .line {
    width: 100%;
  }
  .Historyflex {
    display: flex;
    flex-direction: column;
  }
  .Historyflex p {
    color: gray;
  }
  .button {
    display: none;
  }
  .ad {
    display: block;
    margin-left: 0 !important;
  }
  .Ofis h1 {
    display: none;
  }
}
